@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Macoratti .net</h1>
    <p class="lead" >Curso de ASP .NET Core</p>
    <hr class="my-4" />
    <p>Um curso abrangente, apresentando os principais recursos da ASP .NET Core.</p>
</div>
